body {
    font-family: sans-serif;
  }
  .frame {
    margin: 10px 330px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    padding: 30px;
  }
  form {
    margin-top: 20px;
    text-align: center;
  }
  h2 {
    padding: 20px;
  }
  .image1 {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 200px;
  }
 
  li {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  .left {
    text-align: center;
    line-height: 1.6;
    float: left;
    width: 200px;
    margin: 60px;
  }
  .right {
    float: right;
    word-spacing: 1.5em;
    width: 200px;
    margin: 57px;
  }

  .left .active {
    color: black;
    cursor: default;
  }
  
  .left .active:hover {
    text-decoration: none;
  }
  